{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if validationError %}
  {% set errorMessageText %} Please enter your query here {% endset %}
{% endif %}

<div class="commandPanel">
  <span class="commandText govuk-body">{{ commandText }}</span>
</div>

<form method="POST" id="sendForm" action="#latestChatMessage">
  <div class="promptArea">
    <div class="promptTextArea">
      {{ govukTextarea({
        classes: "textArea",
        id: "prompt-id", 
        name: "input",
        rows: "2",
        errorMessage: {
          text: "Please enter your query here"
        } if errorMessageText else undefined
      }) }}
    </div>

    <div class="hods-loading-spinner" id="loadingSpinner">
      <div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
    </div>

    <button type="submit" class="sendButton govuk-button" id="sendButton" aria-label="Send">
      <img src="/static/images/Expand_right.svg"/>
    </button>
  </div>

  {% if showHintText %}
    <span class="hintText govuk-body-s govuk-!-margin-bottom-0">
      Results from this AI-enabled tool may not always be 100% accurate – always check against the GOV.UK  content provided.
    </span>
  {% endif %}

  <div class="pills govuk-!-margin-top-2">
    <div class="schemePill">
      <label class="schemeLabel" for="schemeAll">
        <span class="labelValue">all</span>
        <input class="schemeCheckbox" type="checkbox" id="schemeAll" name="schemeAll" value="ALL">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="schemePill">
      <label class="schemeLabel" for="schemeCS">
        <span class="labelValue">countryside stewardship</span>
        <input class="schemeCheckbox" type="checkbox" id="schemeCS" name="scheme" value="CS" {% if csSelected %} checked {% endif %}>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="schemePill">
      <label class="schemeLabel" for="schemeFETF">
        <span class="labelValue">Farming equipment & technology fund</span>
        <input class="schemeCheckbox" type="checkbox" id="schemeFETF" name="scheme" value="FETF" {% if fetfSelected %} checked {% endif %}>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="schemePill">
      <label class="schemeLabel" for="schemeSIG">
        <span class="labelValue">Slurry infrastructure grant</span>
        <input class="schemeCheckbox" type="checkbox" id="schemeSIG" name="scheme" value="SIG" {% if sigSelected %} checked {% endif %}>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="schemePill">
      <label class="schemeLabel" for="schemeSFI">
        <span class="labelValue">sustainable farming incentive</span>
        <input class="schemeCheckbox" type="checkbox" id="schemeSFI" name="scheme" value="SFI" {% if sfiSelected %} checked {% endif %}>
        <span class="checkmark"></span>
      </label>
    </div>

  </div>
</form>

{% include "components/instructions.njk" %}