<div class="chat-message">
  <div class="chat-accessory">
    <span class="govuk-caption-m">Farming funding assistant</span>
  </div>
  <div class="answer govuk-body">
    {{ params.answer }}
  </div>
  <div class="govuk-body">

    <ul class="cards">
      {% for item in params.items %}
        <li class="card-item">
          <h3 class="govuk-heading-s">
            <a href="{{ item.url }}" class="govuk-link">{{ item.title }}</a>
          </h3>
          <p>{{ item.summary }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>