{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% if validationError %}
  {% set errorMessageText %} Please enter your query here {% endset %}
{% endif %}

<form method="POST" id="sendForm">
  <span class="commandText govuk-body">{{ commandText }}</span>

  <div class="promptArea">
    <div class="promptTextArea">
      {{ govukTextarea({
        classes: "textArea",
        id: "prompt-id", 
        name: "input",
        errorMessage: {
          text: "Please enter your query here"
        } if errorMessageText else undefined
      }) }}
    </div>

    <div class="hods-loading-spinner" id="loadingSpinner">
      <div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
    </div>

    <button type="submit" class="sendButton govuk-button" id="sendButton" aria-label="Send">
      <svg
        class="sendIcon"
        fill="#fff"
        height="20"
        width="20"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330"
        xml:space="preserve">
        <path
          id="XMLID_222_"
          d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
            C255,161.018,253.42,157.202,250.606,154.389z"/>
      </svg>
    </button>
  </div>

<span class="hintText govuk-body-s">
  You cannot advise callers on which funding to apply for - you can only direct them to GOV.UK information.
</span>

<div class="pills">
  <div class="schemePill">
    <label class="schemeLabel" for="schemeCS">countryside stewardship</label>
    <input class="schemeCheckbox" type="checkbox" id="schemeCS" name="scheme" value="CS">
  </div>

  <div class="schemePill">
    <label class="schemeLabel" for="schemeFETF">Farming equipment & technology fund</label>
    <input class="schemeCheckbox" type="checkbox" id="schemeFETF" name="scheme" value="FETF">
  </div>
</div>

</form>

{% include "components/instructions.njk" %}