{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if validationError %}
  {% set errorMessageText %} Please enter your query here {% endset %}
{% endif %}

<div class="commandPanel">
  <span class="commandText govuk-body">{{ commandText }}</span>
</div>

<form method="POST" id="sendForm" action="/conversation/{{ conversationId }}">
  <input type="hidden" name="crumb" value="{{ crumb }}"/>

  <div class="promptArea">
    <div class="promptTextArea">
      {{ govukTextarea({
        classes: "textArea",
        id: "prompt-id", 
        name: "input",
        rows: "2",
        errorMessage: {
          text: "Please enter your query here"
        } if errorMessageText else undefined
      }) }}
    </div>

    <div class="hods-loading-spinner" id="loadingSpinner">
      <div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
    </div>

    <button type="submit" class="sendButton govuk-button" id="sendButton" aria-label="Send">
      <img src="/static/images/Expand_right.svg"/>
    </button>
  </div>

  {% if showHintText %}
    <span class="hintText govuk-body-s govuk-!-margin-bottom-0">
      Results from this AI-enabled tool may not always be 100% accurate – always check against the GOV.UK  content provided.
    </span>
  {% endif %}

  <div class="filter-pills govuk-!-margin-top-2">
    <div class="filter-pill">
      <div class="filterGroup">
        <input id="schemeAll" name="schemeAll" class="schemeCheckbox" type="checkbox" value="ALL"/>
        <label for="schemeAll">all</label>
      </div>
    </div>

    {% for scheme in schemesList %}
      <div class="filter-pill">
        <div class="filterGroup">
          <input id="scheme{{ scheme.key }}" name="scheme" class="schemeCheckbox" type="checkbox" value="{{ scheme.key }}" {% if scheme.isSelected %} checked {% endif %}/>
          <label for="scheme{{ scheme.key }}">{{ scheme.name }}</label>
        </div>
      </div>
    {% endfor %}
  </div>
</form>

{% include "components/instructions.njk" %}