{% set menuButtonText = params.menuButtonText if params.menuButtonText else 
  'Menu' %}

<header class="govuk-header defra-header {{ params.classes if params.classes }}" role="banner" data-module="govuk-header" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}" {% endfor %}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <!--[if gt IE 8]><!-->
          {#- We use an inline SVG for the crown so that we can cascade the
                    currentColor into the crown whilst continuing to support older browsers
                    which do not support external SVGs without a Javascript polyfill. This
                    adds approximately 1kb to every page load.
          
                    We use currentColour so that we can easily invert it when printing and
                    when the focus state is applied. This also benefits users who override
                    colours in their browser as they will still see the crown.
          
                    The SVG needs `focusable="false"` so that Internet Explorer does not
                    treat it as an interactive element - without this it will be
                    'focusable' when using the keyboard to navigate. #}
          <div class="logoContainer">
            {% include './defra-logo.njk' %}
          </div>
          <!--<![endif]-->
          <!-- [if IE 8]>
                    <img src="{{ params.assetsPath | default('/assets/images') }}/govuk-logotype-crown.png" class="govuk-header__logotype-crown-fallback-image" width="36" height="32" alt="">
                    <![endif] -->
          <span class="govuk-header__logotype-text">
            <span>Department for Environment</span>
            <span>Food & Rural Affairs</span>
          </span>
        </span>
        {% if (params.productName) %}
          <span class="govuk-header__product-name">
            {{ params.productName }}
          </span>
        {% endif %}
      </a>
    </div>
    {% if params.serviceName or params.navigation %}
      <div class="govuk-header__content">
        {% if params.serviceName %}
          {% if params.serviceUrl %}
            <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
              {{ params.serviceName }}
            </a>
          {% else %}
            <span class="govuk-header__service-name">
              {{ params.serviceName }}
            </span>
          {% endif %}
        {% endif %}
        {% if params.navigation %}
          <nav aria-label="{{ params.navigationLabel | default(menuButtonText) }}" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}">
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide menu') }}" hidden>{{ menuButtonText }}</button>

            <ul id="navigation" class="govuk-header__navigation-list">
              {% for item in params.navigation %}
                {% if item.text or item.html %}
                  <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
                    {% if item.href %}
                      <a class="govuk-header__link" href="{{ item.href }}" {% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}" {% endfor %}>
                      {% endif %}
                      {{ item.html | safe if item.html else item.text }}
                      {% if item.href %}
                      </a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>