{% set instructionsHtml %}
<p class="govuk-body">When you ask a question:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    be specific - for example, use the name of a scheme or a grant code 
  </li>
  <li>
    give context - for example, enter land type, its size, current and planned use
  </li>
  <li>
    use correct grammar and punctuation
  </li>
  <li>
    never include sensitive information or personal data
  </li>
</ul>
{% endset %}

{{ govukDetails({
  summaryText: "Tips on using the assistant",
  html: instructionsHtml
}) }}