{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set instructionsHtml %}
<p class="govuk-body">When you search:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    use keywords or sentences
  </li>
  <li>
    ask follow-on questions to get more detail about something
  </li>
  <li>
    be specific - for example, use the name of a scheme or a grant code
  </li>
  <li>
    never include sensitive or personal information
  </li>
</ul>
{% endset %}

{{ govukDetails({
  summaryText: "Tips on how to search",
  html: instructionsHtml
}) }}