<div class="inverse-header-container">
  <header class="inverse-header {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="title-container">
      {% if params.heading %}
        <h1 class="title-text govuk-heading-xl">
          {{ params.heading }}
        </h1>
      {% endif %}

      {% if params.caption %}
        <span class="title-context govuk-heading-l">
          {{ params.caption }}
        </span>
      {% endif %}

      {% if params.subCaption %}
        <div>
          <span class="subcaption govuk-heading-m">
            {{ params.subCaption }}
          </span>
        </div>
      {% endif %}

      {% if params.subCaptionTwo %}
        <div>
          <span class="subcaption govuk-heading-m">
            {{ params.subCaptionTwo }}
          </span>
        </div>
      {% endif %}
    </div>
  </header>
</div>
