$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";
@import "breakpoints";

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

$lightGreen: #00a33b;
$defraGreen: #00a33b;
$pillGreen: #cce2d8;
$pillTextGreen: #005a30;
$defraDarkGreen: #008531;

@import "components/inverse-header";
@import "components/defra-header";
@import "components/chat-input-box";
@import "components/filter-pill";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {
  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}

.govuk-main-wrapper {
  padding-top: 10px !important;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.chat-actions {
  text-align: end;
}

.chat-message {
  margin-bottom: 10px;

  .chat-accessory {
    display: flex;
    justify-content: space-between;

    &.userMessage {
      justify-content: flex-end;
    }

    .message-owner {
      display: flex;
      margin-bottom: 0;

      .message-icon {
        display: flex;
        margin-top: 4px;
        margin-right: 8px;
      }
    }
  }

  .answer {
    margin-top: 5px;

    p {
      margin-block-start: 0 !important;
      margin-block-end: 0 !important;
    }

    &.userMessage {
      text-align: end;
    }
  }

  .cards {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;

    .card-item {
      border-top: 1px solid #b1b4b6;
      position: relative;
      padding: 15px 0 0;

      h3 {
        a {
          &::before {
            border-right: 3px solid $defraGreen;
            border-top: 3px solid $defraGreen;
            content: "";
            height: 7px;
            position: absolute;
            right: 5px;
            top: 23px;
            transform: translateY(0) rotate(45deg) scale(1);
            width: 7px;
          }

          &::after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }

      /** Scheme Pill */
      .schemePill {
        font-family: "Abel", sans-serif;
        font-weight: normal;
      }
    }

    @include breakpoint("tablet") {
      grid-template-columns: 1fr 1fr;

      .card-item {
        margin: 5px;
        padding: 15px 5px;

        h3 {
          a {
            text-wrap: wrap;
            display: inline-block;
            max-width: 275px;
          }
        }
      }
    }

    @include breakpoint("laptop-s") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

/** Chat Message Icons */
.defraButton {
  border-radius: 45px;
  background-color: $defraDarkGreen;
  margin-bottom: 0 !important;
  box-shadow: none;

  &:focus {
    svg {
      filter: invert(100%);
    }
  }
}

.flippedImg {
  transform: scale(-1, 1);
  transform-origin: center;
}
