$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";
@import "breakpoints";

$lightGreen: #00a33c;

@import "components/inverse-header";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {
  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}

.chat-message {
  margin-bottom: 40px;

  .chat-accessory {
    display: flex;
    justify-content: space-between;
  }

  .cards {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;

    .card-item {
      border-top: 1px solid #b1b4b6;
      position: relative;
      padding: 15px 0 0;

      h3 {
        a {
          &::before {
            border-right: 3px solid #1d70b8;
            border-top: 3px solid #1d70b8;
            content: "";
            height: 7px;
            position: absolute;
            right: 5px;
            top: 23px;
            transform: translateY(0) rotate(45deg) scale(1);
            width: 7px;
          }

          &::after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    @include breakpoint("tablet") {
      grid-template-columns: 1fr 1fr;

      .card-item {
        margin: 15px;
      }
    }
  }
}

.promptArea {
  position: relative;

  .promptTextArea {
    display: block;
  }

  .sendButton {
    position: absolute;
    bottom: 10px;
    right: 16px;
    margin: 0;
    border-radius: 35px;

    background-color: #00a33b;

    &::active {
      top: initial !important;
    }

    &.govuk-button:active {
      top: initial !important;
    }
  }
}
