{% extends "_layout.njk" %}

{% block content %}
  <div id="_500" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Please try again later.</p>
    </div>
  </div>
  <div>
    <p>
      <a class="govuk-link" href="/{{ serviceUri }}">Go back home</a>
    </p>
  </div>
{% endblock %}