{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/macro-chat-message.njk" import chatMessage %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukWarningText({
        text: "You must personally check results from this service before passing on any information",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">
        {% for message in messages %}
          {{ chatMessage({
            answer: message.answer,
            urls: message.source_urls
          }) }}
        {% endfor %}
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary"></aside>

    </div>
  </div>
{% endblock %}