{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/macro-chat-message.njk" import chatMessage %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "components/macro-defra-header.njk" import defraHeader %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "Skip to main content",
    href: "#main-content"
  }) }}

  {{ govukSkipLink({
    text: "Skip to input box",
    href: "#prompt-id"
  }) }}
{% endblock %}

{% block header %}
  {{ defraHeader({
    homepageUrl: "https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs",
    serviceName: serviceName
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <input type="hidden" name="version" value="{{ version }}">
      <div class="govuk-body" id="bodyContent">
        <div class="topbar">
          <form action="/reset/{{ conversationId }}" method="POST">
            <input type="hidden" name="crumb" value="{{ crumb }}"/>

            {% set newQuestionHtml %}
            <div style="display: flex; justify-content: center; align-items: center">
              <span>Ask new question</span>
              <img src="/static/images/Chat_plus.svg" alt="New question icon" style="margin-left: 5px;"/>
            </div>
            {% endset %}

            {{ govukButton({
              html: newQuestionHtml,
              type: "submit",
              classes: "govuk-button--secondary govuk-!-display-none-print"
            }) }}
          </form>

          <div class="chat-actions govuk-!-display-none-print govuk-!-margin-bottom-5">
            <button type="button" class="defraButton govuk-button" id="printButton" aria-label="Print">
              {% include "components/icon-printer.njk" %}
            </button>
            <button type="button" class="defraButton govuk-button" id="copyButton" aria-label="Copy">
              {% include "components/icon-copy.njk" %}
            </button>
          </div>
        </div>

        {% for message in messages %}
          {{ chatMessage({
              role: message.role,
              answer: message.answer | markdown | safe,
              items: message.items,
              scrollToMessage: message.scrollToMessage
          }) }}
        {% endfor %}
      </div>

      <div class="sticky govuk-!-display-none-print">
        <div class="govuk-width-container">
          {% include "components/chat-input-box.njk" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

  <div class="footerContainer govuk-!-display-none-print"></div>

{% endblock %}