{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
  <div class="govuk-grid-row">
    {{ govukWarningText({
        text: "You must personally check results from this service before passing on any information",
        iconFallbackText: "Warning"
    }) }}

    <form action="answer">
      {{ govukInput({
          id: "prompt-id",
          name: "prompt-name"
      }) }}

      {{ govukButton({
          text: "Send",
          type: "submit"
      }) }}
    </form>

    {% include "components/instructions.njk" %}
  </div>
{% endblock %}