{% extends '_layout.njk' %}

{% block header %}{% endblock %}

{% block content %}
  <input type="hidden" name="version" value="{{ version }}">

  <form action="login" method="POST">
    <div>
      <input
        required="required"
        class="govuk-input"
        type="text"
        name="username"
        placeholder="Username"
        style="margin-bottom: 20px"/>
    </div>
    <div>
      <input
        class="govuk-input"
        required="required"
        type="password"
        name="password"
        placeholder="Password"
        style="margin-bottom: 20px"/>
    </div>

    <input class="govuk-button" type="submit" value="Login" style="margin-bottom: 20px"/>
  </form>

  {% if error %}
    <span class="" style="color: red">{{ error }}</span>
  {% endif %}
{% endblock %}