.commandText {
  color: $govuk-secondary-text-colour;
}

.promptArea {
  position: relative;

  .promptTextArea {
    display: block;

    .govuk-form-group {
      margin-bottom: 5px !important;

      textarea {
        min-height: 67px;
        margin-bottom: 5px !important;
      }
    }
  }

  .sendButton {
    position: absolute;
    bottom: 10px;
    right: 16px;
    margin: 0;
    border-radius: 40px;
    width: 51px;

    background-color: #00a33b;

    &::active {
      top: initial !important;
    }

    &.govuk-button:active {
      top: initial !important;
    }

    .sendIcon {
      padding: 3px;
      padding-left: 4px;
      padding-top: 4px;
    }
  }
}

.hintText {
  width: 100%;
  display: block;
  text-align: center;
}

.sticky {
  padding-top: 10px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: white;
  width: 100%;
  box-shadow: 0px -4px 11px 8px #ededed;
}

.footerContainer {
  margin-bottom: 230px;
}

.hods-loading-spinner {
  position: absolute;
  bottom: 6px;
  right: 16px;
  display: none;

  @include govuk-responsive-padding(4, "top");

  &__spinner {
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #dee0e2;
    border-radius: 50%;
    border-top-color: $defraGreen;
    width: 40px;
    height: 40px;
    -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
    animation: hods-loading-spinner-animation 2s linear infinite;
  }

  &__content {
    @include govuk-responsive-padding(4, "top");
    text-align: center;
  }
}

@-webkit-keyframes hods-loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes hods-loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pills {
  display: flex;
  flex-wrap: wrap;

  .schemePill {
    font-family: "Abel", sans-serif;
    background-color: $pillGreen;
    margin-right: 10px;
    border-radius: 20px;
    color: $pillTextGreen;
    text-transform: uppercase;
    margin-bottom: 10px;

    &:hover {
      filter: brightness(105%);
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:focus ~ .checkmark {
        outline: 3px solid #fd0;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      height: 25px;
      width: 25px;
      margin-left: 5px;
      user-select: none;

      &::after {
        content: "";
        position: absolute;
        display: none;

        left: 9px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid $pillTextGreen;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .schemeLabel {
      display: inline-block;
      padding: 5px 17px;
      padding-right: 44px;
      cursor: pointer;
      user-select: none;
    }

    .schemeCheckbox {
      margin: 0;
    }
  }
}

.govuk-details {
  margin-bottom: 10px !important;
}
